#wrap-it {
    width: 1280px;
    margin: 0 auto;
    background-color: transparent;
    color:#B3F5C1;
    font-family: 'Courier New', Courier, monospace; 
 }

body {
    background-image: url("bamboo-background.jpg");
    object-fit: cover;
    background-size: 100%;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    object-position: bottom;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100px;
    background-color: #C20118;
    padding: 15px 0 30px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', cursive;
    font-size: 35px;
    color: white;
}

h1 a {
    text-decoration: solid;
    font-size: 35px;
}

h3 {
    font-family: Courier, cursive;
    font-size: 30px;
    color:#B3F5C1;
}

.catering {
    margin: 60px 0;
    background: transparent
}

.dont-forget {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #C20118;
    font-family: 'Courier New', Courier, monospace, cursive;
}

.dont-forget a {
    color:white;
    font-family: 'Courier New', Courier, monospace, cursive;
}

img {
    width: 100%;
    height: auto;

}

nav {
    object-position: center;
}

ul {
    text-align: center;
   
    
    
}

li {
    display: inline-block;
    padding: 0 50px;
    font-weight: bold;
}

a {
    color:white;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace, cursive;
}

a:hover, .active {
    color: black;
}

.container {
    display: grid;
    grid-template-columns: 6fr 1fr;
    margin: 50px auto;
    
}

.contact.main {
    text-align:center;
    margin: 0;
    font-family:'Courier New', Courier, monospace;

}

.contact-img  {
    width: 500px;
    height: auto;
    border: 3px solid whitesmoke;
   
}

.dumpling-banner {
    background-color: #C20118;
    padding: 0px;
}

form {
    width: 300px;
    height: auto;
    margin-bottom: 50px;
    margin-top: 0px;
    background-color: #333333;
    padding: 16px;
    padding-right: 25px;
    color: #B3F5C1;
    border-radius: 10px;
    text-align: left;
    display:block;
    margin-left: 450px;
}

input, label, select, textarea {
	display:block;
	width: 100%;
}

fieldset {
	margin: 24px auto;
	border-radius: 4px;
	border-color: #222222;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 8px;
}

label {
	margin: 0 0 4px 16px;
	font-weight: bold;
}

fieldset label {
	margin-left: 0;
}

input {
    margin-bottom: 10px;
}

input[type=submit] {
	background-color:#C20118;
	border-style: none;
	color: #B3F5C1;
	font-size: 18px;
	font-weight: bold;
    
    padding-right: 5px;
    padding-left: 5px;
}

input[type=submit]:active {
     background-color: #B3F5C1;
     color:#C20118;
}

input[type=radio] + label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

input[type=radio] {
    appearance: none;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 0;
    border-radius: 0;
}

input[type=radio] + label::before {
    content: "\00a0";
    font-size: 2.25em;
    line-height: 1;
    border-radius: 50%;
    display: inline-block;  
    height: 20px;
    width: 22px;
    text-align: center;
    margin-right: 16px;
    border: 2px solid #C20118;
    background-color: #fff;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

input[type=radio]:checked + label::before {
    background: #C20118;
}


div img {
    width: 100%;
    height: 400px;
    object-position: center;
    object-fit: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #C20118;
    margin-bottom: 10vh;
    
    
    
}

.grid-items {
    background-color:#C20118;
    border: 1px solid black;
    text-align: center;
    border-style: double
}

.grid-items p {
    padding: 2px 100px;
    margin-top: -20px;
    font-size: 15px;
}

main {
    text-align: center;
    font-family: 'Courier New', Courier, monospace, cursive;
}

footer {
    background-color:#C20118;
    padding: 10px;
    text-align: center;
}

footer p {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace, cursive;
}